@import url(font-harrison.css);
@import url(animate.css);
@import url(font-awesome.min.css);

body {
    font-family: "rsuregular", Arial, sans-serif;
    font-size  : 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "rsubold", Arial, sans-serif;
}

label,
p,
table {
    font-family: "rsuregular", Arial, sans-serif;
}

p {
    word-wrap: break-word;
}

.accordion-content a {
    family: "rsuregular", Arial, sans-serif;
}

label {
    font-size: 1rem;
}

.button{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.input-group>.input-group-button>button{
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.input-group-field.validation{
  margin-bottom: 1em;
}
/* BASE COLOR*/
.bg-cs-blue,
.condo-list .price,
.content-inside .price,
.share_link,
.tabs-title.no-float.is-active {
    background-color: #000055;
}

.bg-cs-gray,
.form-contact,
.tag-gray-bg,
.well-gray {
    background-color: #E9E9E9;
}

.bg-cs-blue,
.condo-list .price,
.content-inside .price,
.share_link,
.tabs-title.no-float.is-active {
    background-color: #000055;
}

.bg-cs-gray,
.form-contact,
.tag-gray-bg,
.well-gray {
    background-color: #E9E9E9;
}

.bg-cs-gray-second {
    background-color: #dddddd;
}

.bg-cs-red {
    background-color: #EC0000;
}

.bg-cs-skyblue {
    background-color: #e7eff1;
}

.color-white,
.tabs-title.no-float.is-active h4 a {
    color: #FFFFFF;
}

.color-blue {
    color: #000055;
}

.color-skyblue {
    color: #1c7cac;
}

.color-gray {
    color: #E9E9E9;
}

.color-azue {
    color: #072851;
}

.color-red,
.content-inside .content-detail h3,
.content-inside h1,
.form-contact h3,
.readmore-red,
.readmore-red:hover,
.share_link h3,
.tabs-category-content h4 a,
.tabs-category-content h4 a:hover,
.tabs-title.news-tabs h4 a,
.tabs-title.no-float h4 a,
.well h3 {
    color: #EC0000;
}

.color-red-hover {
    color: #000055;
}

.color-black,
.tag-gray-bg,
.tag-gray-bg.left,
.tag-gray-bg.right {
    color: #000000;
}

.color-black-hover,
.tag-gray-bg.left span,
.tag-gray-bg.right span {
    color: #333333;
}

.color-green {
    color: green;
}

.border-none {
    border: 0 !important;
}

.border-all {
    border: 1px solid #E9E9E9;
}

.border-top {
    border-bottom: 1px solid #E9E9E9;
}

.border-bottom {
    border-bottom: 1px solid #E9E9E9;
}

.content-inside,
.mar-top-large {
    margin-top: 2rem;
}

.footer-links,
.mar-top-medium {
    margin-top: 1rem;
}

.condo-list:first-child,
.mar-top-small {
    margin-top: 0.5rem;
}

.mar-top-very-small {
    margin-top: 0.25rem;
}

.mar-top-zero {
    margin-top: 0;
}

.content-inside,
.mar-bott-large {
    margin-bottom: 2rem;
}

.mar-bott-medium {
    margin-bottom: 1rem;
}

.condo-list .price,
.content-inside .price,
.content-sidebar,
.mar-bott-small,
.tag-gray-bg {
    margin-bottom: 0.5rem;
}

.content-inside p,
.mar-bott-very-small,
.tabs-category-content .date-news {
    margin-bottom: 0.25rem;
}

.mar-bott-zero {
    margin-bottom: 0;
}
/* PADDING */
.pad-top-large {
    padding-top: 2rem;
}

#compare .caption .price,
.pad-top-medium {
    padding-top: 1rem;
}

.content-sidebar,
.pad-top-small {
    padding-top: 0.5rem;
}

.pad-top-very-small {
    padding-top: 0.25rem;
}

.pad-top-zero {
    padding-top: 0;
}

.pad-bott-large {
    padding-bottom: 2rem;
}

#compare .caption .price,
.pad-bott-medium {
    padding-bottom: 1rem;
}

.pad-bott-small {
    padding-bottom: 0.5rem;
}

.pad-bott-very-small {
    padding-bottom: 0.25rem;
}

.pad-bott-zero {
    padding-bottom: 0;
}

.f_size1,
.tabs-category-content .caption-content,
.form-error {
    font-size: 1rem;
}

.f_size1_25 {
    font-size: 1.25rem;
}

.f_size1_50 {
    font-size: 1.50rem;
}

.f_size1_75 {
    font-size: 1.75rem;
}

.f_size2 {
    font-size: 2rem;
}
/* BASE BACKGROUND */
.display-left {
    padding-left: 0 !important;
}

.display-right {
    padding-right: 0 !important;
}

.title-bar,
.top-bar {
    background-color: #000055;
    /*padding         : 0;*/
}

.title-bar .top-bar-section li:not(.has-form) a:not(.button),
.top-bar .top-bar-section li:not(.has-form) a:not(.button) {
    background-color: #000055;
}

.title-bar .top-bar,
.top-bar .top-bar {
    display       : inline-block;
    vertical-align: middle;
}

.title-bar .top-bar ul li a,
.top-bar .top-bar ul li a {
    font-family: 'kollektifregular';
    font-size  : 0.9em;
}

.title-bar .top-bar ul.right li:not(.has-form) a:not(.button),
.top-bar .top-bar ul.right li:not(.has-form) a:not(.button) {
    background-color: #1A1A66;
}

.title-bar .top-bar ul.right li:not(.has-form) a:not(.button):hover,
.top-bar .top-bar ul.right li:not(.has-form) a:not(.button):hover {
    background-color: #000F7C;
}

.title-bar ul,
.top-bar ul {
    background-color: #000055;
}

.title-bar ul > li > a,
.top-bar ul > li > a {
    color        : white;
    padding-left : 0.8rem;
    padding-right: 0.8rem;
    line-height  : 4.5;
}

.title-bar ul#dropdown_right > li > a,
.top-bar ul#dropdown_right > li > a {
    line-height: 1 !important;
}

.menu.medium-horizontal {
    display: inline-block;
}

.menu.medium-horizontal li {
    display       : inline-block;
    vertical-align: middle;
}

.header {
    padding        : 2rem 0;
    background     : url("../images/bg-header.jpg") center center no-repeat;
    background-size: cover;
}

.is-dropdown-submenu {
    z-index: 1111;
}

.btn-search-top {
    margin-top: 1.1rem;
}

.page-title {
    margin-top: 0.5rem;
}

#contact h4.right {
    color: #ec0000;
}

#contact h4.right span {
    color: #000055;
}

#highlight {
    padding: 2rem 0;
}

#highlight .location {
    min-height: auto;
}

#highlight h1 {
    text-align   : center;
    color        : #FFFFFF;
    font-family  : "rsuregular", Arial, sans-serif;
    font-size    : 1.875rem;
    background   : #000055;
    margin-bottom: 0;
}

#highlight h1 span {
    color: #EC0000;
}

#highlight .highlight-sidebar figure {
    margin    : 0;
    min-height: 100%;
}

#highlight figure {
    margin    : 0;
    min-height: auto;
    position  : relative;
    z-index   : 9;
}

#highlight figure span {
    position: absolute;
    right   : 1rem;
    top     : 0;
}

#highlight .caption {
    background-color: #E9E9E9;
    padding         : 0.2rem 1rem;
    min-height      : 5rem;
}

#highlight .caption h2 {
    font-family  : "rsuregular", Arial, sans-serif;
    font-size    : 1.25rem;
    margin-bottom: 0.1rem;
}

#highlight .caption h2 a {
    color: #EC0000;
}

#highlight .caption a,
#highlight .caption p {
    color      : #000000;
    font-family: "rsuregular", Arial, sans-serif;
    font-size  : 1.00rem;
}

#highlight .button {
    background-color: #EC0000;
    margin          : 0 auto;
    font-family     : "rsuregular", Arial, sans-serif;
    font-size       : 1.25rem;
    display         : table;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
    #highlight .location {
        min-height: auto;
    }
}
/* Medium and up */
@media screen and (min-width: 40em) {}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}
/* Large and up */
@media screen and (min-width: 64em) {
    #highlight .location {
        min-height: 310px;
    }
}
/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

.content-sidebar h3 {
    font-size: 1rem;
}

.content-sidebar h3 a {
    color: #EC0000;
}

#compare {
    padding: 2rem 0;
}

.bolder {
    font-weight: bolder;
}

#compare h1 {
    text-align   : center;
    color        : #FFFFFF;
    font-family  : "rsuregular", Arial, sans-serif;
    font-size    : 1.875rem;
    background   : #000055;
    margin-bottom: 0;
}

#compare h1 span {
    color: #EC0000;
}

#compare figure {
    margin: 0;
}

#compare .caption {
    background-color: #E9E9E9;
    padding         : 0.2rem 1rem;
}

#compare .caption h2 {
    font-family  : "rsuregular", Arial, sans-serif;
    font-size    : 1.25rem;
    margin-bottom: 0.1rem;
}

#compare .caption h2 a {
    color: #EC0000;
}

#compare .caption a,
#compare .caption p {
    color      : #000000;
    font-family: "rsuregular", Arial, sans-serif;
    font-size  : 1.00rem;
}

#compare .caption a.links {
    text-decoration: underline;
}

#compare .button {
    background-color: #EC0000;
    margin          : 0 auto;
    font-family     : "rsuregular", Arial, sans-serif;
    font-size       : 1rem;
    display         : table;
    /* opacity: 1; */
    z-index         : 599;
}

#projects {
    padding: 2rem 0;
}

#projects .location {
    min-height: 310px;
}

#projects h2 {
    text-align   : center;
    color        : #000055;
    font-family  : "rsuregular", Arial, sans-serif;
    font-size    : 1.875rem;
    margin-bottom: 0.5em;
}

#projects figure {
    margin  : 0;
    /*min-height: 12rem;*/
    position: relative;
    z-index : 9;
}

#projects figure:after {
    content: "";
    display: table;
    clear  : both;
}

#projects figure span {
    position: absolute;
    right   : 0;
    top     : 0;
}

#projects .caption {
    background-color: #FFFFFF;
    padding         : 0.2rem 1rem;
    min-height      : 5rem;
}

#projects .caption h2 {
    color        : #EC0000;
    font-family  : "rsuregular", Arial, sans-serif;
    font-size    : 1.25rem;
    margin-bottom: 0.1rem;
    text-align: left;
}

#projects .caption p {
    color      : #000000;
    font-family: "rsuregular", Arial, sans-serif;
    font-size  : 1.00rem;
}

#projects .button {
    background-color: #EC0000;
    margin          : 0 auto;
    font-family     : "rsuregular", Arial, sans-serif;
    font-size       : 1.25rem;
    display         : table;
}

#news {
    padding: 2rem 0 1rem;
}

#news .inside {
    padding : 1rem;
    height  : auto;
    overflow: hidden;
}
@media screen and (min-width: 64em) {
    #news .inside {
        height: 600px;
    }
}

#news h2 {
    text-align   : center;
    font-family  : "rsuregular", Arial, sans-serif;
    font-size    : 1.875rem;
    margin-bottom: 0;
}

#news h2.left {
    color: #000055;
}

#news h2.left span {
    color: #EC0000;
}

#news h2.right {
    color: #EC0000;
}

#news h2.right span {
    color: #000055;
}

#news figure {
    margin: 0.5rem 1rem;
}

#news .caption {
    padding: 0;
}

#news .caption h3,
#news .caption h3 a {
    color        : #EC0000;
    text-align   : left;
    font-family  : 'rsubold';
    font-size    : 1.25rem;
    margin-bottom: 0.1rem;
}

#news .caption p,
#news .caption p a {
    color      : #FFFFFF;
    font-family: "rsuregular", Arial, sans-serif;
    font-size  : 1.00rem;
}

#news .new-list {
    display: inline-block;
    padding: 0.375rem 0 0.25rem;
}

#news .caption-list h3,
#news .caption-list h3 a {
    color        : #EC0000;
    text-align   : left;
    font-family  : 'rsubold';
    font-size    : 1.125rem;
    margin-bottom: 0.1rem;
}

#news .caption-list p,
#news .caption-list p a {
    color        : #000000;
    font-family  : "rsuregular", Arial, sans-serif;
    font-size    : 1.00rem;
    margin-bottom: 0;
}

#news .button {
    background-color: #EC0000;
    margin          : 0 auto;
    font-family     : "rsuregular", Arial, sans-serif;
    font-size       : 1.25rem;
    display         : table;
}

#videos {
    padding: 2rem 0 1rem;
}

#videos .inside {
    padding: 1rem 1rem 0;
}

#videos .video-container {
    margin: 1rem 0;
    position      : relative;
    padding-bottom: 56.25%;
    padding-top   : 30px;
    height        : 0;
    overflow      : hidden;
}

#videos .video-container embed,
#videos .video-container iframe,
#videos .video-container object {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
}

#videos h2 {
    /*text-align   : center;*/
    font-family  : "rsuregular", Arial, sans-serif;
    font-size    : 1.875rem;
    margin-bottom: 0;
}

#videos h2.left {
    color: #000055;
}

#videos h2.left span {
    color: #EC0000;
}

#videos h2.right {
    color: #EC0000;
}

#videos h2.right span {
    color: #000055;
}

#videos .caption {
    margin: 0 0 1rem;
}

#videos .caption h3 {
    color        : #EC0000;
    text-align   : left;
    font-family  : 'rsubold';
    font-size    : 1.25rem;
    margin-bottom: 0.1rem;
}

#videos .caption p {
    color      : #FFFFFF;
    font-family: "rsuregular", Arial, sans-serif;
    font-size  : 1.5rem;
}

#videos .activities-list {
    display    : inline-block;
    padding    : 0.3125rem 0;
    font-family: "rsuregular", Arial, sans-serif;
}

#videos .activities-list span {
    text-align: center;
    display   : block;
}

#videos .activities-list span:nth-child(1) {
    color    : #FFFFFF;
    font-size: 1.25rem;
}

#videos .activities-list span:nth-child(2) {
    color    : #EC0000;
    font-size: 2rem;
}

#videos .activities-list span:nth-child(3) {
    color    : #FFFFFF;
    font-size: 1.125rem;
}

#videos .activities-list .columns {
    height: 9rem;
}

#videos .caption-list h3 {
    color        : #EC0000;
    text-align   : left;
    font-family  : 'rsubold';
    font-size    : 1.125rem;
    margin-bottom: 0.1rem;
}

#videos .caption-list p {
    color        : #000000;
    font-family  : "rsuregular", Arial, sans-serif;
    font-size    : 0.875rem;
    margin-bottom: 0;
}

#videos .guru {
    margin-top: 2.125rem;
}

#videos .guru h2 {
    margin-bottom: 2.125rem;
}

#videos .guru .guru-list {
    padding      : 1.25rem 0;
    border-bottom: 1px solid #E9E9E9;
}

#videos .guru .guru-list.first {
    border-top: 1px solid #E9E9E9;
}

#videos .guru .guru-list h3 {
    margin-bottom: 0.1rem;
}

#videos .guru .guru-list h3 a {
    color      : #EC0000;
    text-align : left;
    font-family: 'rsubold';
    font-size  : 1.125rem;
}

#videos .guru .guru-list p {
    color        : #000000;
    font-family  : "rsuregular", Arial, sans-serif;
    font-size    : 0.875rem;
    margin-bottom: 0;
}

#videos .guru .guru-list .inside-ans {
    margin: 1rem 0;
}

#videos .button {
    background-color: #EC0000;
    margin          : 0 auto;
    font-family     : "rsuregular", Arial, sans-serif;
    font-size       : 1.25rem;
    display         : table;
}

.content-inside h1 {
    font-size: 1.5rem;
}

.content-inside .price {
    color     : #FFFFFF;
    text-align: center;
    font-size : 1.25rem;
    padding   : 0.75rem;
}

.content-inside i.sidebar {
    color: #EC0000;
}

.content-inside a.black {
    font-family: "rsuregular", Arial, sans-serif;
    font-size  : 1rem;
    color      : #000000;
}

.content-inside a.black:hover {
    color: #999;
}

.content-inside .details {
    font-family: "rsuregular", Arial, sans-serif;
    font-size  : 0.90rem;
}

.content-inside .content-detail .form-contact,
.content-inside .content-detail .share_link,
.content-inside .content-detail .well {
    border: 1px solid #cccccc;
}

.content-inside .content-detail h3 {
    font-family: "rsuregular", Arial, sans-serif;
    font-size  : 1.4rem;
}

.form-contact,
.share_link,
.well {
    border: 1px solid #cccccc;
}

.form-contact h3,
.share_link h3,
.well h3 {
    font-family: "rsuregular", Arial, sans-serif;
    font-size  : 1.4rem;
}
/* MEMBER */
#member_preview {
    padding   : 10rem 0;
    text-align: center;
}

.condo-list {
    border-left : 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top  : 1px solid #cccccc;
    padding     : 1rem 0;
}

.condo-list:first-child {
    border-bottom: 0;
}

.condo-list:last-child {
    border-bottom: 1px solid #cccccc;
}

.condo-list h2 {
    font-size: 1rem;
}

.condo-list h2 a {
    color    : #EC0000;
    font-size: 1rem;
}

.condo-list p,
.condo-list table {
    margin-bottom: 0.45rem;
}

.condo-list strong {
    font-size: 0.8rem;
}

.condo-list p {
    font-size  : 1.1rem;
    line-height: 1;
}

.condo-list .details {
    font-family: "rsuregular", Arial, sans-serif;
    font-size  : 0.90rem;
}

.condo-list table tbody td,
.condo-list table tbody th,
.condo-list table tfoot td,
.condo-list table tfoot th,
.condo-list table thead td,
.condo-list table thead th {
    padding: 0.2rem 0.5rem;
}

.condo-list .contact_name {
    font-size: 1rem;
    color    : #999999;
}

.condo-list .price {
    color     : #FFFFFF;
    text-align: center;
    font-size : 1.25rem;
    padding   : 0.75rem;
}

.condo-list ul {
    margin     : 0;
    line-height: 1;
}

.condo-list ul li {
    display   : inline-block;
    list-style: none;
    padding   : 0.1rem 0.7rem;
}

.condo-list i {
    color    : #EC0000;
    font-size: 1.5rem;
}

.condo-list i:hover {
    color: #e76e6e;
}

.has-tip {
    border: 0;
}

.news-sidebar {
    margin-bottom: 0.2rem;
}

.tabs-category {
    margin: 1rem 0 2rem !important;
}

.tabs-category-content {
    border-top   : 1px solid #e6e6e6 !important;
    border-bottom: 0 !important;
}

.tabs-category-content .date-news {
    font-size: 0.85rem;
    color    : #999;
}

.tabs-category-content .caption-content a {
    color: #000;
}

.tabs-category-content .caption-content a:hover {
    color: #999;
}

.tabs-title.news-tabs {
    border-bottom: 2px solid #E9E9E9;
    padding      : 1rem;
}

.tabs-title.news-tabs h4 {
    text-align: center;
    font-size : 1rem;
}

.tabs-title.news-tabs.is-active {
    border-bottom: 2px solid #ff0000;
    background   : #ccc;
}

.tabs-title.no-float {
    padding: 1rem;
}

.tabs-title.no-float h4 {
    text-align: center;
}
/* News */
.news-slider {
    /* Style the actual content */
}

.news-slider .text-content {
    position        : absolute;
    top             : 0;
    left            : 0;
    right           : 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding         : 1em;
    width           : 30%;
    height          : 100%;
}

.news-slider .text-content h2 {
    margin: 0;
}

.news-slider .text-content p {
    margin: 1em 0;
}

.news-slider .text-content a.button-link {
    padding : 0.25em 0.5em;
    position: absolute;
    bottom  : 1em;
    right   : 1em;
}

.news-slider .image-content {
    line-height: 0;
}

.news-slider .image-content img {
    max-width: 100%;
}

.news-slider .news-pager {
    text-align: right;
    display   : block;
    margin    : 0.2em 0 0;
    padding   : 0;
    list-style: none;
}

.news-slider .news-pager li {
    display: inline-block;
    padding: 0.6em;
    margin : 0 0 0 1em;
}

.news-slider .news-pager li.sy-active a {
    color: #31ace2;
}

.news-slider .news-pager li a {
    font-weight    : 500;
    text-decoration: none;
    display        : block;
    color          : #222;
}

.banner {
    margin: 2rem 0;
}

.title-blue-red {
    text-align   : center;
    color        : #000055;
    font-family  : "rsuregular", Arial, sans-serif;
    font-size    : 1.875rem;
    margin-bottom: 1rem;
}

.title-blue-red span {
    color: #EC0000;
}

.title-red-black {
    text-align   : left;
    color        : #EC0000;
    font-family  : "rsuregular", Arial, sans-serif;
    font-size    : 1.875rem;
    margin-bottom: 1rem;
}

.title-red-black span {
    color: #000000;
}

.title-blue-bg {
    background   : #000055;
    text-align   : center;
    padding      : 1rem;
    font-family  : "rsuregular", Arial, sans-serif;
    font-size    : 1.25rem;
    margin-bottom: 0;
}

.title-blue-bg.left {
    color: #000055;
}

.title-blue-bg.left span {
    color: #EC0000;
}

.title-blue-bg.right {
    color: #EC0000;
}

.title-blue-bg.right span {
    color: #FFFFFF;
}

.tag-gray-bg {
    text-align  : center;
    padding     : 0.5rem;
    font-family : "rsuregular", Arial, sans-serif;
    font-size   : 1rem;
    margin-right: 0.2rem;
}

.pagination li {
    display: inline-block;
}

.pagination .current {
    background: #EC0000;
}

.hover {
    margin-bottom: 1rem;
}

.hover figure:hover img {
    opacity          : 1;
    -webkit-animation: flash 1.5s;
    animation        : flash 1.5s;
}

.grow {
    transition: all 1s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}
@-webkit-keyframes flash {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}
/* Shine */
.hover-eff {
    transition: all 0.3s ease;
}

.hover-eff:hover {
    background-color: #53a7ea;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

.footer-menu {
    border-bottom: 1px solid #FFFFFF;
    display      : table;
}

.footer-menu .menu > li > a {
    color      : #FFFFFF;
    padding    : 0.7rem 0.85rem;
    line-height: 1;
    display    : inline-block;
}
/* Medium and up */
@media screen and (min-width: 40em) {}
/* Large and up */
@media screen and (min-width: 64em) {
    .footer-menu {
        display: inline-block;
    }

    .footer-menu .menu > li > a {
        line-height: 3.5rem;
    }
}

.footer-menu .socials > li > a {
    color  : #FFFFFF;
    padding: 0.7rem 0.3rem;
}

#sync1 .item {
    padding   : 1rem 0;
    margin    : 0.2rem;
    text-align: center;
}

#sync2 .item {
    padding: 0.2rem 0;
    margin : 0.2rem;
}

.footer-links h4 {
    color      : #EC0000;
    font-family: "rsuregular", Arial, sans-serif;
    font-size  : 1.000rem;
}

.footer-links ul > li > a {
    color      : #FFFFFF;
    font-family: "rsuregular", Arial, sans-serif;
    font-size  : 1.000rem;
}

.fa-round {
    padding         : 0;
    border-radius   : 50%;
    color           : white;
    background-color: #40cdda;
    font-size       : 1.30rem;
    line-height     : 2.5rem;
    height          : 2.5rem;
    width           : 2.5rem;
    text-align      : center;
}

.fa-facebook {
    background-color: #3b5998;
    margin-right    : 4px;
}

.fa-twitter {
    background-color: #40cdda;
    margin-right    : 4px;
}

.fa-youtube {
    background-color: #ff3132;
    margin-right    : 4px;
}

.fa-linkedin {
    background-color: #0073b2;
}

.header h1 {
    font-family: 'rsubold';
}

.form-contact,
.share_link,
.well {
    padding: 1.5rem;
}

.well-gray,
.well-list {
    padding: 1rem;
}

.well-skyblue {
    background-color: #e7eff1;
    padding         : 2rem;
}

.overflow-x-scroll {
    height    : 200px;
    overflow-y: scroll;
    background: #fff;
}

.clear_head,
.tabs-title.news-tabs h4 {
    line-height  : 1;
    margin-bottom: 0;
}

.readmore-red:hover {
    text-decoration: underline;
}
/* Postion */
.po_relative {
    position: relative;
}

.po_absolute {
    position: absolute;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.button.no-bg {
    background: transparent !important;
    font-size : 0.9rem !important;
}

.button-red-white {
    background-color: #EC0000;
    margin          : 0 auto;
    font-family     : "rsuregular", Arial, sans-serif;
    font-size       : 1rem;
}

.button-red-white:hover,
.button-red-white:focus {
    background-color: #e76e6e;
}

.button-facebook {
    background-color: #447bbc;
    margin          : 0 auto;
    font-family     : "rsuregular", Arial, sans-serif;
    font-size       : 1rem;
}

.button-facebook:hover {
    background-color: #2a5689;
}

.breadcrumbs {
    margin: 1rem 0;
}

.breadcrumbs a{
  font-size       : 1.25em;
}©

.accordion-item.is-active > .accordion-title {
    border-color: 55;
    background  : #000055;
    color       : #FFFFFF;
}

.accordion-title {
    font-size: 1.25rem;
    color    : #000000;
}

.list-inline {
    display: inline-block;
}

.list-inline::after,
.list-inline::before {
    display: table;
    content: " ";
}
/*
*
	MEDIA QUERY
*
*/
.menu.medium-horizontal {
    display: block;
}

.footer.menu.medium-horizontal {
    display: table;
}

.menu.medium-horizontal li {
    display       : block;
    vertical-align: middle;
    text-align    : center;
}

.footer.menu.medium-horizontal li {
    display       : inline-block;
    vertical-align: middle;
    text-align    : center;
}

.top-bar ul li a {
    line-height: 1.2;
    border     : 0;
}
@media screen and (max-width: 39.9375em) {
    .top-bar ul li a {
        border-bottom: 1px solid #FFFFFF;
        text-align: left;
    }
}
@media screen and (min-width: 40em) {
    .menu.medium-horizontal {
        display: inline-block;
    }

    .menu.medium-horizontal li {
        display       : inline-block;
        vertical-align: middle;
    }

    .menu.medium-horizontal li:first-child a {
        padding-left: 1.2rem;
    }

    .top-bar ul li a {
        line-height  : 2;
        border-bottom: 0;
        font-size    : 1.2rem;
    }

    .dropdown_right > li > a {
        line-height: 1 !important;
    }
}
@media screen and (min-width: 64em) {
    .top-bar ul li a {
        line-height  : 4;
        border-bottom: 0;
        font-size    : 1.2rem;
    }

    .menu.medium-horizontal {
        display: block;
    }

    .menu.medium-horizontal li {
        display: inline-block;
    }

    .content-inside h1{
        margin-bottom: 0;
    }
}

#sync1 {
    position  : relative;
    margin    : 0;
    text-align: center;
}

#sync1 .owl-nav {
    position: absolute;
    z-index : 9999;
    top     : 50%;
    width   : 100%;
    display : block;
}

#sync1 .owl-nav .owl-next,
#sync1 .owl-nav .owl-prev {
    position: absolute;
}

#sync1 .owl-nav .owl-prev {
    left: 0;
}

#sync1 .owl-nav .owl-next {
    right: 0;
}
