.tabs {
	position: relative;
	margin  : 1rem auto 0;
}

.tabs input[type=radio] {
	position: absolute;
	z-index : 1000;
	width   : 18.75rem;
	height  : 4rem;
	left    : 0;
	top     : 0;
	opacity : 0;
	-ms-filter:  "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	cursor  : pointer;
}

.tabs input#tab-2 {
	top: 60px;
}

.tabs input#tab-3 {
	top: 120px;
}

.tabs input#tab-4 {
	top: 180px;
}

.tabs label {
	background    : #FFFFFF;
	font-family   : 'rsuregular';
	font-size     : 1.25rem;
	line-height   : 4rem;
	height        : 4rem;
	position      : relative;
	padding       : 0 20px;
	display       : block;
	width         : 18.75rem;
	color         : #000000;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight   : bold;
	text-align    : left;
	float         : left;
	clear         : both;
	/*	transition: 0.8s 0.2s;*/
}

.tabs label.width-100 {
	width: 45rem;
}

.tabs label:after {
	content   : '';
	background: #fff;
	position  : absolute;
	right     : -2px;
	top       : 0;
	width     : 2px;
	height    : 100%;
}

.tabs input:hover + label {
	background: #000075;
	color     : #FFFFFF;
}

.tabs label:first-of-type {
	z-index: 4;
}

.tab-label-2 {
	z-index: 3;
}

.tab-label-3 {
	z-index: 2;
}

.tab-label-4 {
	z-index: 1;
}

.tabs input:checked + label {
	background: #000055;
	color     : #FFFFFF;
	z-index   : 6;
}

.clear-shadow {
	clear: both;
}

.content {
	background   : #fff;
	position     : relative;
	width        : auto;
	margin       : -16rem 0 0 5rem;
	height       : 18rem;
	z-index      : 5;
	overflow     : hidden;
	box-shadow   : 1px 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.content div {
	position          : absolute;
	top               : 0;
	padding           : 10px 40px;
	z-index           : 1;
	opacity           : 0;
	-webkit-transition: all linear 0.5s;
	-moz-transition   : all linear 0.5s;
	-o-transition     : all linear 0.5s;
	-ms-transition    : all linear 0.5s;
	transition        : all linear 0.5s;
}

.content div {
	-webkit-transform: translateY(-450px);
	-moz-transform   : translateY(-450px);
	-o-transform     : translateY(-450px);
	-ms-transform    : translateY(-450px);
	transform        : translateY(-450px);
}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3,
.tabs input.tab-selector-4:checked ~ .content .content-4 {
	-webkit-transform : translateY(0px);
	-moz-transform    : translateY(0px);
	-o-transform      : translateY(0px);
	-ms-transform     : translateY(0px);
	transform         : translateY(0px);
	z-index           : 100;
	-ms-filter:  "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity           : 1;
	-webkit-transition: all ease-out 0.3s 0.3s;
	-moz-transition   : all ease-out 0.3s 0.3s;
	-o-transition     : all ease-out 0.3s 0.3s;
	-ms-transition    : all ease-out 0.3s 0.3s;
	transition        : all ease-out 0.3s 0.3s;
}

.content div h2,
.content div h3 {
	color: #398080;
}

.content div p {
	font-size   : 14px;
	line-height : 22px;
	font-style  : normal;
	text-align  : left;
	margin      : 0;
	color       : #777;
	padding-left: 15px;
	font-family : 'rsuregular';
}
/*
.tabs input:checked + label.right{
	margin-right: 50px;
	background: #000055;
}
.tabs input:checked + label{
	position: relative;
	color: #FFFFFF;
}
*/
.tabs input:checked + label:after {
	content     : "";
	position    : absolute;
	bottom      : -15px;
	left        : 50px;
	border-width: 15px 15px 0;
	border-style: solid;
	border-color: #000055 transparent;
	display     : block;
	width       : 0;
}

.tabs input:checked + label:after {
	height: 20%;
}

.tabs input:checked + label.right:after {
	top         : 20%;
	right       : -20px;
	bottom      : auto;
	left        : auto;
	border-width: 20px 0 20px 20px;
	border-color: transparent #000055;
}

.search-input {
	position   : absolute;
	top        : 0;
	right      : 0;
	border     : none;
	outline    : none;
	background : #fff;
	width      : 100%;
	height     : 60px;
	margin     : 0;
	z-index    : 10;
	padding    : 20px 65px 20px 20px;
	font-family: inherit;
	font-size  : 20px;
	color      : #2c3e50;
}

.sb-icon-search,
.sb-search-submit {
	width      : auto;
	height     : auto;
	display    : block;
	position   : absolute;
	right      : 0;
	top        : 0;
	padding    : 0;
	margin     : 0;
	line-height: 60px;
	text-align : center;
	cursor     : pointer;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.sb-search-submit {
	background: #fff;
	/* IE needs this */
	-ms-filter:  "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 8 */
	filter: alpha(opacity=0);
	/* IE 5-7 */
	opacity   : 0;
	color     : transparent;
	border    : none;
	outline   : none;
	z-index   : 99;
}

.sb-icon-search {
	color                 : #fff;
	background            : #EC0000;
	z-index               : 90;
	font-size             : 22px;
	font-family           : 'FontAwesome';
	speak                 : none;
	font-style            : normal;
	font-weight           : normal;
	font-variant          : normal;
	text-transform        : none;
	-webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
	content: "\f002";
}
@media screen and (min-width: 40em) {}
@media screen and (min-width: 64em) {
	.sb-icon-search,
	.sb-search-submit {
		width : 60px;
		height: 60px;
	}
}
/* Open state */
.no-js .sb-search,
.sb-search.sb-search-open {
	width: 100%;
}

.no-js .sb-search .sb-icon-search,
.sb-search.sb-search-open .sb-icon-search {
	background: #EC0000;
	color     : #fff;
	z-index   : 11;
}

.no-js .sb-search .sb-search-submit,
.sb-search.sb-search-open .sb-search-submit {
	z-index: 90;
}
@media (max-width: 64rem) {
	.tabs input[type=radio] {
		position: relative;
		width   : 100%;
		height  : 100%;
	}

	.content {
		width        : auto;
		margin       : 0;
		height       : 100%;
		z-index      : 5;
		/* overflow: hidden; */
		box-shadow   : none;
		border-radius: 0;
	}

	.content div {
		position: relative;
	}

	.tabs label,
	.tabs label.width-100 {
		width: 100%;
	}

	.tabs input + label,
	.tabs input:checked + label {
		margin: 0;
	}

	.tabs label:after {
		content: '';
		right  : 0;
		width  : 0;
	}

	.tabs input:checked + label.right:after {
		position: relative;
	}

	.tabs input:checked + label.right:after {
		top         : 0;
		right       : 0;
		bottom      : auto;
		left        : auto;
		border-width: 0;
		border-color: transparent;
	}

	.tabs input:checked + label:after {
		content     : "";
		position    : relative;
		bottom      : 0;
		left        : 0;
		border-width: 0;
		border-style: none;
		border-color: transparent;
		display     : block;
		width       : 0;
	}

	.search-input {
		width: 100%;
	}

	.tabs input.tab-selector-1 ~ .content .content-1,
	.tabs input.tab-selector-2 ~ .content .content-2,
	.tabs input.tab-selector-3 ~ .content .content-3,
	.tabs input.tab-selector-4 ~ .content .content-4 {
		display: none;
	}

	.tabs input.tab-selector-1:checked ~ .content .content-1,
	.tabs input.tab-selector-2:checked ~ .content .content-2,
	.tabs input.tab-selector-3:checked ~ .content .content-3,
	.tabs input.tab-selector-4:checked ~ .content .content-4 {
		display: block;
	}
}
